@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* preset for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style for body */

body {
    background-image: url(https://img.freepik.com/premium-vector/pixel-art-landscape-pine-forest-mountains-8-bit-vector-background_360488-709.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    width: auto;
    height: auto;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    letter-spacing: 5px;
    color: rgb(255, 0, 0);
    font-size: xx-large;
}

nav {
    height: 75px;
    width: 100%;
    display: flex;
    margin-top: 5%;
}

.pixel_title {
    line-height: 75px;
    text-align: center;
    margin: auto;
}

.matching_game {
    height: 600px;
    width: 600px;
    margin: auto;
    margin-top: 25px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    perspective: 1000px;
}

.initial-startUp {
    height: 125px;
    width: fit-content;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin: auto;
}

.feedback {
    margin: auto;
    text-align: center;
}

button {
    background-color: rgb(255, 0, 0);
    font-size: 15px;
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 7px 0px #AA0000;
    display: inline-block;
    transition: all .3s;
    position: relative;
    padding: 13px;
    top: 0;
    cursor: pointer;
    margin-left: 48%;
    margin-bottom: 35px;
}

button:active {
    top: 3px;
    box-shadow: 0 2px 0px #AA0000;
    transition: all .3s;
}

/* style for cards */

.card {
    height: calc(30% - 10px);
    width: calc(45% - 10px);
    margin: 8px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .3s;
    transform: scale(1);
    cursor: pointer;
}

/* card animation on click */

.card:active {
    transform: scale(0.90);
    transition: transform .3s;
}

/* card flip animation */

.card.flip {
    transform: rotateY(180deg);
}

.front_side,
.rear_side {
    height: 100%;
    width: 100%;
    padding: 15px;
    position: absolute;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    backface-visibility: hidden;
}

img {
    aspect-ratio: 3/2;
    object-fit: contain;
}

.front_side {
    transform: rotateY(180deg);
}